body {

    background-color: rgb(35, 32, 39);    
    color:rgb(24, 173, 173);
    font-size: 18px;
    font-weight:normal;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
    color:rgba(14, 141, 71, 0.884);
    font-size: 16px;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
} 
a:visited{
    color: darkgray;
}  
.top{
    width: 100%;
    max-width: 1200px;
    min-width: 980px;
    min-height: 900px;
    float:none;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background: rgb(56, 52, 52);
} 

.shapka{
   text-align: center;
   padding:10px;
   

}